<h1>New person</h1>

<%= form_for(@person) do |f| %>

  <fieldset>
    <%= render :partial => 'form', :locals => { :f => f } %>
    <br>
    <%= f.submit "Add a person", class: "btn btn-large btn-primary" %>
  </fieldset>

<% end %>



